.lbox{
    margin-top:40%;
    background-color:#FFF;
    padding:30px 10px 0px 10px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
}
.adbody{
    background-color:#F2F2F2;
}